/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #dca33f;
  --ifm-color-primary-dark: #a97d30;
  --ifm-color-primary-darker: #755721;
  --ifm-color-primary-darkest: #413112;
  --ifm-color-primary-light: #ffcb4f;
  --ifm-color-primary-lighter: #ffd64f;
  --ifm-color-primary-lightest: #ffe14f;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f5a623;
  --ifm-color-primary-dark: #ae8236;
  --ifm-color-primary-darker: #7b5b26;
  --ifm-color-primary-darkest: #483516;
  --ifm-color-primary-light: #ffcb4f;
  --ifm-color-primary-lighter: #ffd64f;
  --ifm-color-primary-lightest: #ffe14f;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
